<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/popular.css">
    <link rel="stylesheet" href="/css/trailer.css">
    <link rel="stylesheet" href="/css/latest.css">
</head>
<body> 

    {{>header}}
    {{>hero}}
    {{>whatspopular}}
    {{>latesttrailers}}
    {{>trendingpage}}
    
    
    
    <script src="/js/clientside.js"></script>
    <script src="/js/normal.js"></script>
    <script src="/js/theatremovie.js"></script>
    <script src="/js/js1.js"></script>
</body>
</html>