<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE TV Site</title>
    <link rel="shortcut icon" href="/assests/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/homepage/1_navigation.css">
    <link rel="stylesheet" href="/css/homepage/2_hero.css">
    <link rel="stylesheet" href="/css/homepage/3_popular.css">
    <link rel="stylesheet" href="/css/homepage/4_latest.css">
    <link rel="stylesheet" href="/css/homepage/5_trending.css">
    <link rel="stylesheet" href="/css/homepage/6_footer.css">
</head>
<body> 

    {{>homepage_1_navigation}}
    {{>homepage_2_hero}}
    {{>homepage_3_popular}}
    {{>homepage_4_latest}}
    {{>homepage_5_trending}}
    {{>homepage_6_footer}}
      
    <script src="\js\homepage\1_navigation.js"></script>
    <script src="\js\homepage\2_hero.js"></script>
    <script src="\js\homepage\3_popular.js"></script>
    <script src="\js\homepage\4_latest.js"></script>
    <script src="\js\homepage\5_trending.js"></script>
    <script src="\js\homepage\6_footer.js"></script>
</body>
</html>