 {{!-- hero section --}}

    <header>
        <div class="overlay">
            <div class="hero">
                <div class="text1">Welcome.</div>
                <div class="text2">Millions of movies, TV shows and people to discover. Explore now.</div>
                <div> 
                    <form id="click">
                        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search for a movie, tv show,person......" id="query">
                        <button>Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    {{!-- hero section --}}