    {{!-- navigation section   --}}

    <nav id="navbar">
        <ul>
            <li id="logo"><a href="/">SUPERFLIX</a><a href="/"><div id="shape"></div></a></li>
            <li class="dropdown">
                <div class="hover">Movies</div>
                <div class="dropdown-content">
                    <a href="">Popular</a>
                    <a href="">Now Playing</a>
                    <a href="">Upcoming</a>
                    <a href="">Top Rated</a>
                </div>
            </li>
            <li class="dropdown">
                <div class="hover">TV Shows</div>
                <div class="dropdown-content">
                    <a href="">Popular</a>
                    <a href="">Airing Playing</a>
                    <a href="">On TV</a>
                    <a href="">Top Rated</a>
                </div>
            </li>
               <li class="dropdown">
                <div class="hover">People</div>
                <div class="dropdown-content">
                    <a href="">Popular People</a>
                </div>
            </li>
            <li class="dropdownS">
                <div class="hover search" ></div>
                <div class="dropdown-content dropdown-search">
                    <form id="click">
                        <input type="text" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search for a movie, tv show,person......" id="query">
                        <img src="/assests/cancel.png" alt="" class="imgsearch1">
                    </form>
                    <a href="" class="txtsearch1">CURRENTLY TRENDING LIST :- </a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                    <a href="" class="trendingresult"></a>
                </div>
            </li>
        </ul>
    </nav>

    {{!-- navigation section   --}}