 {{!-- Popular section --}}

    <div class="top">
        <div class="txt">What's Popular</div>
        <div class="btn">
            <div class="btn1">&nbsp;&nbsp;&nbsp;On TV&nbsp;&nbsp;&nbsp;</div>
            <div class="btn2">&nbsp;&nbsp;&nbsp;In Theatres&nbsp;&nbsp;&nbsp;</div>
        </div>
    </div>
    <div class="scroller">
        <div class="scrollitem">
            <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <p class="nametv"></p>
            <div class="releasedatetv"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
       <div class="scrollitem">
            <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
            <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
            <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetv">
            <div class="ratingtv"><div class="rating"></div></div>
            <div class="nametv"></div>
            <div class="releasedatetv"></div>
        </div>
    </div>


    {{!-- Popular section --}}