
    {{!-- header section --}}

    <div class="header_imageI">
        <div class="headerI">
            <div class="posterI"></div>
            <div class="txtI">
                <div class="namedate"></div>
                <div class="rategenre">
                    <div class="rate"></div>
                    <div class="genre"></div>
                </div>
                <div class="scoretrailer">
                    <div class="score"></div>
                    <div class="txtscore">
                        <div class="txtscore1">User</div>
                        <div class="txtscore2">Score</div>
                    </div>
                    <div class="trailer">&#9658; Play Trailer</div>
                </div>
                <div class="overview">Overview</div>
                <div class="overviewtxt"></div>
                <div class="creator">
                    <div class="subcreator">
                        <div class="creatorname"></div>
                        <div class="txtcreator">Creator</div>
                    </div>
                    <div class="subcreator">
                        <div class="creatorname"></div>
                        <div class="txtcreator">Creator</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- header section --}}