{{!-- vice navigation section --}}
    <div class="dropdownI">
        <div class="individualDropdown">
            <div class="hoverI">Overview &#9660;</div>
            <div class="dropdownContentsI">
                <div class="dropdownContent">Main</div>
                <div class="dropdownContent">Alternative Titles</div>
                <div class="dropdownContent">Cast & Crew</div>
                <div class="dropdownContent">Episode Groups</div>
                <div class="dropdownContent">Series</div>
                <div class="dropdownContent">Translations</div>
            </div>
        </div>
        <div class="individualDropdown">
            <div class="hoverI">Media &#9660;</div>
            <div class="dropdownContentsI">
                <div class="dropdownContent">Backdrops</div>
                <div class="dropdownContent">Logos</div>
                <div class="dropdownContent">Posters</div>
                <div class="dropdownContent">Videos</div>
           </div>
        </div>
        <div class="individualDropdown">
            <div class="hoverI">Share &#9660;</div>
            <div class="dropdownContentsI">
                <div class="dropdownContent">Share Link</div>
                <div class="dropdownContent">Facebook</div>
                <div class="dropdownContent">Tweet</div>
            </div>
        </div>
    </div>
    <div></div>
    {{!-- vice navigation section --}}