  {{!-- castfact section --}}
    <div class="castfact">
        <div class="cast">
            <div class="casttxt">Series Cast</div>
            <div class="castinfo">
                <div class="individualcast">
                    <div class="castimage"></div>
                    <div class="realname"></div>
                    <div class="reelname"></div>
                    <div class="noofepisodes"></div>
                </div>
                <div class="individualcast">
                    <div class="castimage"></div>
                    <div class="realname"></div>
                    <div class="reelname"></div>
                    <div class="noofepisodes"></div>
                </div>
                <div class="individualcast">
                    <div class="castimage"></div>
                    <div class="realname"></div>
                    <div class="reelname"></div>
                    <div class="noofepisodes"></div>
                </div>
                <div class="individualcast">
                    <div class="castimage"></div>
                    <div class="realname"></div>
                    <div class="reelname"></div>
                    <div class="noofepisodes"></div>
                </div>
                <div class="individualcast">
                    <div class="castimage"></div>
                    <div class="realname"></div>
                    <div class="reelname"></div>
                    <div class="noofepisodes"></div>
                </div>
            </div>
            <div class="line"></div>
        </div>
        <div class="fact">
            <a href="" class="link">&#128279;</a>
            <div class="facts">Facts</div>
            <div class="status">Status</div>
            <div class="statusinfo"></div>
            <div class="network">Network</div>
            <div class="networklogo"></div>
            <div class="type">Type</div>
            <div class="typeinfo"></div>
            <div class="langauge">Original Langauge</div>
            <div class="langaugeinfo"></div>
        </div>
    </div>
    {{!-- castfact section --}}