     {{!-- Latest trailer section --}}
<div class="overlayT">
<div class="containerT">
    <div class="topT">
        <div class="txtT">Latest Trailers</div>
        <div class="btnT">
            <div class="btn1T">&nbsp;&nbsp;&nbsp;On TV&nbsp;&nbsp;&nbsp;</div>
            <div class="btn2T">&nbsp;&nbsp;&nbsp;In Theatres&nbsp;&nbsp;&nbsp;</div>
        </div>
    </div>
    <div class="scrollerT">
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
       <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
           <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
       <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
              <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
           <div class="playholder">         
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
      <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
      <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
           <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
           <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
       <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
           <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
       <div class="scrollitemT">
        <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
        <div class="scrollitemT">
            <img class="imagetvT" src="" alt="">
            <div class="playholder">
                <div class="textplay">Click To Play!</div>
            </div>
            <div class="nametvT"></div>
            <div class="vidinfo"></div>
        </div>
    </div>
    
</div>
    <div class="cancelframe">
    <div class="cancel"></div>
    <iframe class="frame" width="1120" height="630" src="" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
  </div>
</div>

    {{!-- Latest trailer section --}}