 {{!-- latest section --}}
    <div class="testL">
    <div class="topL">
        <div class="txtL">Trending</div>
        <div class="btnL">
            <div class="btn1L">&nbsp;&nbsp;&nbsp;Today&nbsp;&nbsp;&nbsp;</div>
            <div class="btn2L">&nbsp;&nbsp;&nbsp;This Week&nbsp;&nbsp;&nbsp;</div>
        </div>
    </div>
    <div class="scrollerL">
        <div class="scrollitemL">
            <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <p class="nametvL"></p>
            <div class="releasedatetvL"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
       <div class="scrollitem">
            <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
            <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
            <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
       <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
        <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
      <div class="scrollitem">
           <img src="" alt="" class="imagetvL">
            <div class="ratetvL"><div class="ratingL"></div></div>
            <div class="nametvL"></div>
            <div class="releasedatetvL"></div>
        </div>
    </div>
    </div>


    {{!-- latest section --}}
  